/* File name:app.css Author: Group 3 Website: Its Survey Description: Custom CSS*/
body {
  font-family: "Khmer UI";
  width: 100%;
  }

.navbar {
  width:1024px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.carousel{
  margin-top: -20px;
}

.body_container {
  padding-top: 100px;
  padding-bottom:120px;
  margin-top: -25px;
}

.content_center {
  margin-left: auto;
  margin-right: auto;
  width:750px;
}

.foot container{
  background-color: white;
  font-size: 15px;
}

.footer {
  position: fixed;
  bottom: 0;
  padding:20px 0;
  margin-bottom: 0px;
  width: 100%;
  color: white;
  height: 80px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background-color: #333;
}

.list_title{
  background-color: #428bca;
  color: white;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;

}

.content_bottom {
  position: relative;
  overflow: hidden;
  width: 100%;
  height:100%;
  text-align: center;
  vertical-align: middle;
  margin:0;
  padding:0;
  line-height: 1.1;
  box-sizing: border-box;
  list-style: none;
}

.content_bottom_li_left {
  position: relative;
  float:left;
  width:50%;
  color:#fff;
  text-align: center;
}

.content_bottom_li_right {
  position: relative;
  float:right;
  width:50%;
  color:#fff;
  text-align: center;
}
.active {
  border-bottom: 3px solid #b42f4a;
}

.login{
margin-right: 35.333333%;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}

.form-group.last { margin-bottom:0 }

.alert-danger {
  margin-left: 600px;
}

.form{
  margin-bottom: 120px;
}

.index_container {
  padding-top: 100px;
  width:100%;
}

.container{
  width:1024px;
}

.label_Styling {
	margin-bottom: 10px;
	padding-bottom:25px;
	padding-left:10px;
	font-size: 15px;
	font-weight: bolder;
	height:25px;
	border-left:5px solid #F0461C;
}